**/TrainedModels*/
**/TrainedModelsLarge*/
**/Wav2Vec2Base*/
**/Wav2Vec2Large*/
**/WavLMLarge*/
**/WavLMBase*/
**/WavLmBase*/
/TrainedModelsLarge
/TrainedModelsLarge60
/TrainedModelsLarge
/WavLMBase15
/wandb
/testenv
/env
/environment
/CremaEvaluation
/CremaTest
/CremaTrain
/Crema
**/results*/
/results
get-pip.py
train.csv
eval.csv
test.csv
dataset.json
eval.json
test.json
train.json
Wav2Vec2Base15.csv
Wav2Vec2Large60.csv
WavLMBase15.csv
WavLMLarge15.csv
results.csv
.DS_Store
